.header {
  background: $off-black;
  // color: off-white;
  margin-bottom: $xl-size;
  padding: $m-size 0;

}

//BEM block element modifier
.header__title {
    margin: 0;
    font-size: $l-size;
    color: off-white;
}

.header__subtitle {
    margin: 0;
    font-size: 2.2rem;
    color: off-white;
}
